* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(
        135deg,
        #0f172a,
        #1e3a8a
    );
}

/* MENÚ PRINCIPAL */

.menu {
    width: 450px;
    padding: 45px;

    text-align: center;

    background: white;

    border-radius: 20px;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
}

/* TÍTULO */

.menu h1 {
    color: #172554;
    font-size: 28px;
    line-height: 1.3;

    margin-bottom: 10px;
}

/* SUBTÍTULO */

.subtitulo {
    color: #64748b;
    font-size: 16px;

    margin-bottom: 30px;
}

/* INTEGRANTES */

.integrantes {
    display: flex;
    gap: 15px;

    margin-bottom: 30px;
}

.persona {
    flex: 1;

    padding: 18px;

    background: #eff6ff;

    border-radius: 12px;

    color: #1e3a8a;

    font-size: 18px;
    font-weight: bold;
}

.persona span {
    display: block;

    margin-bottom: 6px;

    color: #64748b;

    font-size: 13px;
    font-weight: normal;
}

/* BOTÓN */

.boton {
    width: 100%;

    padding: 14px;

    border: none;
    border-radius: 10px;

    background: #2563eb;

    color: white;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s;
}

.boton:hover {
    background: #1d4ed8;

    transform: translateY(-2px);

    box-shadow: 0 8px 20px rgba(37, 99, 235, 0.3);
}

/* CELULAR */

@media (max-width: 500px) {

    .menu {
        width: 90%;
        padding: 30px;
    }

    .menu h1 {
        font-size: 23px;
    }

    .integrantes {
        flex-direction: column;
    }
}
